@import '../../globals.scss';

.button {
    padding: 8px;
    border-radius: 40px;
    transition: 0.2s;
    background-color: map-get($colors, primaryText );
    &:hover {
        background-color: map-get($colors, darkWhite );
    }
}