@import '../../globals.scss';



.topHeader {
    background: map-get($colors , coal );
    color: map-get($colors , primaryText );
}

.bottomHeader {
    background: map-get($colors , black );
    color: map-get($colors , primaryText );
}

.headerContainer {
    display: grid;
    align-items: center;
    gap: 0px 20px;
   grid-template-areas: 
   'logo logo time time contact contact contact control control control control control';
   @media (max-width: 1210px) {
    grid-template-areas: 
        'logo logo time time time time time control control control control control'
        'logo logo contact contact contact contact contact control control control control control'
    }
   @media (max-width: 820px) {
    padding-bottom: 5px ;
    padding-top: 5px ;
    grid-template-areas: 
        'logo time time contact contact menu'
    }
   @media (max-width: 600px) {
    grid-template-areas: 
        'logo contact contact menu'
    }
}

.bottomHeaderContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px ;
    padding-top: 15px ;
    gap: 15px
}

.logoSection {
    grid-area: logo;
}

.timeSection {
    grid-area: time;
    @media (max-width: 600px) {
    display: none;
    }
    
}

.contactSection {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media (max-width: 970px) {
        gap: 0px
    }
  
}



.controlSection {
    display: flex;
    grid-area: control;
    justify-self: end;
    gap: 20px;
    align-items: center;
    @media (max-width: 1300px) {
        grid-column: span 6;
    }
    @media (max-width: 820px) {
        display: none;
    }
}

.buttonContainer {
    display: flex;
    gap: 5px;
}

.totalPrice {
    display: flex;
    flex-direction: column;
    width: 120px;

}

.price {
    font-weight: 700;
}

.nav {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    @media (max-width: 1030px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 0px;
    }
    @media (max-width: 820px) {
       display: none;
    }
}

.catalogButton {
    @media (max-width: 500px) {
        span {
            display: none;
        }
     }
}

.searchWrapper {
    position: relative;
}





