@import '../../globals.scss';


.list {
    position: absolute;
    background: map-get($colors, primaryText );
    width: 400px;
    right: 0;
    top: 110%;
    border-radius: 5px;
    border: 1px solid  map-get($colors, darkGray );
    padding: 10px;
    color: map-get($colors, black);
}

.close {
    display: none;
}
